body{
  margin: 0;
  background: linear-gradient(90deg, rgba(205,255,252,1) 0%, rgba(255,199,100,1));
}

h1{
  font-family: 'DM Serif Display', serif;
  color: #131213;
  margin: 0;
  font-style: italic;
  text-align: left;
}

h2{
  font-family: 'Roboto', sans-serif;
  color: #ff577f;
  text-align: left;
}

h3{
  font-family: 'DM Serif Display', serif;
  font-size: 3.5vw;
  color: #131213;
  margin: 0;
  text-align: center;
}

h4{
  font-family: 'DM Serif Display', serif;
  font-size: 2vw;
  color: #131213;
  margin: 0;
  text-align: center;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #131213;
  font-size: 1vw;
}

hr{
  margin-top: 30px;
  border: 3px solid #ff577f;
  border-radius: 2px;
  width: 30%;
}




/* FONTS
font-family: 'DM Serif Display', serif;
font-family: 'Roboto', sans-serif;
*/

.top-container{
  height: 700px;
  display: block;
/*  background: linear-gradient(180deg, rgba(205,255,252,1) 0%, rgba(255,199,100,1) 44%, rgba(255,136,75,1) 100%);*/
}

.second-container{
  margin-top: 5%;
  display: block;
  height: 300px;
}

.navigation{
  margin: 0;
  padding: 0;
  height: 70px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: block;
}

.menu{
  margin-left: 2%;
  margin-top: 20px;
  width: 30%;
  display: inline-block;
}

.menu-item{
  Font-Family: 'Roboto', sans-serif;
  text-align: -webkit-center;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  Font-Size: 16px;
  padding-right: 2rem;
  white-space: nowrap;
  background-image: linear-gradient(120deg, #ff884b 0%, #ff577f 100%);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.menu-item:hover{
  background-size: 100% 88%;
}

.menu-button{background-image: linear-gradient(to right, #ffc764 0%, #ff884b  100%)}

.menu-button{
  Font-Family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bolder;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

}

.menu-button:hover{background-image: linear-gradient(to left, #ffc764 0%, #ff884b  100%)}

.menu-button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.buy-button{background-image: linear-gradient(to right, #ffc764 0%, #ff884b  100%)}

.buy-button{
  margin-top: 50px;
  margin-right: 70%;
  Font-Family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bolder;
  font-size: 2vw;
  padding: 15px 15px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  width: 35%;
}

.buy-button:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.logo{
  margin-top: 10px;
  position: absolute;
  padding-top: 10px;
  left: 50%;
  width: 50px;
}

.social{
  float: right;
  margin-top: 20px;
  margin-right: 2%;
  padding-left: 0;
  display: inline-block;
}

.facebook{
  width: 25px;
}

.instagram{
  width: 25px;
  padding-right: 1rem;
}

.hero-description{
  display: inline-block;
  position: absolute;
  top: 120px;
  padding-left: 100px;
  padding-right: 20px;
  width: 40%;
}

.steps {
  display: inline-grid;
  left: 10%;
  right: 10%;
  position: absolute;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 250px;
}

.step-item {
  border-radius: 15px;
  background-color: #cdfffc;
  padding: 20px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 5px 10px;
  height: 90%;
  border:
}

.step-item-2 {
  margin-top: 100px;
  border-radius: 15px;
  background-color: #cdfffc;
  padding: 15px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 5px 10px;
  height: 80%;
}

.step-image {
  width: 80%;
  align-self: center;
}

.step-image:hover{
  width: 83%
}

.middle-container{
  padding-top: 20%;
  padding-left: 5%;
  padding-right: 5%;
}

#back-to-top{
  position: fixed;
  bottom: 3em;
  right: 3em;
  background-color: rgba(255, 255, 255, 0.9);
  color: #313943;
  border: none;
  border-radius: 5px;
  padding: 1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.25);
  transition: all .3s ease-in-out;
  display: inline-block;
  opacity: 0;
  text-decoration: none;
  font-size: 0.75em;
}

#back-to-top.visible{
  opacity: 1;
}

.hero-image{
  max-height: 630px;
}

.grid-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 50% auto;
  /*background-color: #2196F3;*/
  padding: 10px;
}

.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 20px;
  font-size: 30px;
  text-align: center;
  max-width: : 50px;
}

.hero-title{
  font-size: 6vw;
}

.hero-subtitle{
  font-size: 3vw;
}

.steps-container {
  margin-left: 15%;
  width: 70%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.steps-item {
  margin: 2%;
  font-size: 30px;
  text-align: center;
  width: 90%;
  height: 90%;
  max-width: 290px;
}

.steps-image{
  width: 90%;
  height: 90%;
  /*max-height: 300px;*/
}

.steps-number {
  font-size: 2.5vw;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  text-align: center;
}

.ribbon{background-image: linear-gradient(180deg, rgba(211,237,241,1) 0%, rgba(246,136,79,1))}

.ribbon {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
  font-style: bolder;
  width: 50%;
  position: relative;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon:before, .ribbon:after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 border: 1.5em solid #f6884f;
 z-index: -1;
}

.ribbon:before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
}

.ribbon:after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
}

.ribbon-content:before, .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 border-color: #e27a4d transparent transparent transparent;
 bottom: -1em;
}

.ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}

.ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.ribbon-container{
  margin-top: 10%;
}

.choose-label{
  margin-top: 15%;
}

.label-container {
  margin-left: 15%;
  width: 70%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.label-item {
  margin: 2%;
  font-size: 30px;
  text-align: center;
  width: 90%;
  height: 90%;
  max-width: 200px;
}

.label-image{
  width: 90%;
  height: 90%;
  /*max-height: 300px;*/
}

.steps-number {
  font-size: 2.5vw;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  text-align: center;
}

.wine-origin{
  text-align: center;
  margin-top: 10%;
  padding: 10%;
  height: 300px;
  background-color: rgba(211,237,241,0.6);
  box-shadow: 0 0 20px #818181;

}

.wine-origin h3{
  margin-bottom: 3%;
}

.wine-origin p{
  margin-bottom: 3%;
}

.testimonial-container{
  margin-top: 10%;
}

.testimonials-number {
  font-size: 2.5vw;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 255, 255, 1);
  text-align: center;
}

.testimonials
{
    margin: 200px auto 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    grid-gap: 20px;
}
.testimonials .card
{
    position: relative;
    width:350px;
    margin: 0 auto;
    background:#cdfffc;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0,0,0,.5);
    overflow: hidden;
}
.testimonials .card .layer
{
    position: absolute;
    top:calc(100% - 2px);
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(#ffc764, #ff577f);
    z-index: 1;
    transition: 0.5s;
}
.testimonials .card:hover .layer
{
   top: 0;
}
.testimonials .card .content
{
   position: relative;
   z-index: 2;
}
.testimonials .card .content p
{
   font-size: 18px;
   line-height: 24px;
}
.testimonials .card .content .image
{
   width: 100px;
   height: 100px;
   margin: 0 auto;
   border-radius: 50%;
   overflow: hidden;
   border: 4px solid #fff;
   box-shadow: 0 10px 20px rgba(0,0,0,.2);
}
.testimonials .card .content .details h2
{
   font-size: 18px;
   color: #131213;
   text-align: center;
}
.testimonials .card .content .details h2 span
{
    color: #03a9f4;
    font-size: 14px;
    transition: 0.5s;
}
.testimonials .card:hover .content .details h2 span
{
    color: #fff;
}

.testimonials .card .content .reviews
{
   padding-top: 20px;
   width: 50%;
   height: 50%;
   margin: 0 auto;
   overflow: hidden;
}

.subscribe{
  margin-top: 10%;
  padding: 10%;
  height: 300px;
  background-color: rgba(211,237,241,0.6);
  box-shadow: 0 0 20px #818181;
}


.subscribe-container {
  width: 90%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.subscribe-item {
  font-size: 30px;
}

.subscribe-image{
  width: 70%;
  /*max-height: 300px;*/
}

#newsletter {
    padding: 20px 0px;
    text-align: center;
    color: #fff;
}
#newsletter p {
    font-size: 15px;
    font-style: italic;
    padding: 0px;
    margin: 25px 0px 40px;
}
#newsletter form {
    background: #fff;
    padding: 0px 10px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}
#newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background-image: linear-gradient(#ffc764, #ff577f);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}
#newsletter form input[type="submit"]:hover {
    opacity: 0.9;
}

.empty-space{
  height: 400px;
}

.site-footer{
  padding: 5%;
  height: auto;
  background-color: rgba(211,237,241,0.6);
  box-shadow: 0 0 20px #818181;
}

.site-footer h3{
  font-size: 2.5vw;
}

.site-footer h4{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2vw;
  text-align: center;
  margin-bottom: 3%;
}

.site-footer p{
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  text-align: center;
}

.site-footer a, a:hover, a:focus, a:active{
  text-decoration: none;
  color: inherit;
}

.contact-container {
  margin: 5%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.contact-item {
  font-size: 30px;
  text-align: center;
}

.contact-image{
  margin-right: 3%;
  height: 2vw;
}
