body{
  margin: 0;
}

h1{
  font-family: 'DM Serif Display', serif;
  font-size: 3rem;
  color: #131213;
  margin: 0;
  font-style: italic;
}

h2{
  font-family: 'Roboto', sans-serif;
  color: #ff577f;
}

h3{
  font-family: 'DM Serif Display', serif;
  color: #ff577f;
  font-size: 2.5rem;
  font-weight: bolder;
}

p{
  font-family: 'Roboto', sans-serif;
  color: #131213;
  font-size: 1.5rem;
}




/* FONTS
font-family: 'DM Serif Display', serif;
font-family: 'Roboto', sans-serif;
*/

.top-container{
  height: 700px;
  background: linear-gradient(180deg, rgba(205,255,252,1) 0%, rgba(255,199,100,1) 44%, rgba(255,136,75,1) 100%);
}

.navigation{
  margin: 0;
  padding: 0;
  height: 70px;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.menu{
  margin-left: 2%;
  margin-top: 10px;
  width: 30%;
  display: inline-block;
}

.menu-item{
  Font-Family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-decoration: none;
  color: black;
  Font-Size: 16px;
  padding-right: 2rem;
  white-space: nowrap;
  background-image: linear-gradient(120deg, #ff884b 0%, #ff577f 100%);
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}

.menu-item:hover{
  background-size: 100% 88%;
}

.logo{
  position: absolute;
  padding-top: 10px;
  left: 50%;
  width: 50px;
}

.social{
  float: right;
  margin-top: 10px;
  margin-right: 2%;
  padding-left: 0;
  display: inline-block;
}

.facebook{
  width: 25px;
}

.instagram{
  width: 25px;
  padding-right: 1rem;
}

.hero-description{
  display: block;
  position: absolute;
  top: 120px;
  padding-left: 100px;
  padding-right: 20px;
  width: 70%;
}

.steps {
  display: inline-grid;
  left: 10%;
  right: 10%;
  position: absolute;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 250px;
}

.step-item {
  border-radius: 15px;
  background-color: #cdfffc;
  padding: 20px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 5px 10px;
  height: 90%;
  border:
}

.step-item-2 {
  margin-top: 100px;
  border-radius: 15px;
  background-color: #cdfffc;
  padding: 15px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  box-shadow: 5px 10px;
  height: 80%;
}

.step-image {
  width: 80%;
  align-self: center;
}

.step-image:hover{
  width: 83%
}
